name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'

jobs:
  BuildLinux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
      - name: Clone tree
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: nxdk_ntrc_dyndxt
      - name: Clone nxdk
        uses: actions/checkout@v4
        with:
          repository: XboxDev/nxdk
          ref: d0ae96acc926a6c3f6254b289a1a9a3c1db182f1
          submodules: recursive
          path: nxdk
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            libboost-all-dev \
            libsdl2-dev \
            libsdl2-image-dev \
            llvm \
            lld \
            nasm
      - name: Precompile nxdk
        run: |
          echo "Precompiling nxdk to allow CMake to run correctly."
          cd nxdk
          eval $(./bin/activate -s)
          for dir in samples/*/ ; do
            pushd "${dir}"
            make -j$(grep -c processor /proc/cpuinfo)
            popd
          done
      - name: Compile
        run: |
          cd nxdk_ntrc_dyndxt
          export NXDK_DIR="${GITHUB_WORKSPACE}/nxdk"
          export CMAKE_OPTS="-DCMAKE_TOOLCHAIN_FILE=${NXDK_DIR}/share/toolchain-nxdk.cmake"
          cmake -B build -DCMAKE_BUILD_TYPE=Release "${CMAKE_OPTS}"
          cmake --build build -- -j$(grep -c processor /proc/cpuinfo)
      - name: Test
        run: |
          cd nxdk_ntrc_dyndxt
          export NXDK_DIR="${GITHUB_WORKSPACE}/nxdk"
          export CMAKE_OPTS="-DBUILD_TESTING=ON"
          cmake -B build_test -DCMAKE_BUILD_TYPE=Release "${CMAKE_OPTS}"
          cmake --build build_test --target ntrc_dyndxt_tests -- -j$(grep -c processor /proc/cpuinfo)
          ctest --test-dir build_test/ntrc_dyndxt_tests --output-on-failure

  BuildMacOS:
    name: Build macOS
    runs-on: macOS-latest
    steps:
      - name: Clone tree
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: nxdk_ntrc_dyndxt
      - name: Clone nxdk
        uses: actions/checkout@v4
        with:
          repository: XboxDev/nxdk
          ref: d0ae96acc926a6c3f6254b289a1a9a3c1db182f1
          submodules: recursive
          path: nxdk
      - name: Install dependencies
        run: |
          export HOMEBREW_NO_AUTO_UPDATE=1
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew install \
            cmake \
            coreutils \
            boost \
            llvm@19 \
            lld \
            sdl2 \
            sdl2_image \
            nasm
      - name: Precompile nxdk
        run: |
          echo "Precompiling nxdk to allow CMake to run correctly."
          cd nxdk
          eval $(./bin/activate -s)
          for dir in samples/*/ ; do
            pushd "${dir}"
            make -j
            popd
          done
      - name: Compile
        run: |
          cd nxdk_ntrc_dyndxt
          export PATH="$(brew --prefix llvm)/bin:$PATH"
          export NXDK_DIR="${GITHUB_WORKSPACE}/nxdk"
          export CMAKE_OPTS="-DCMAKE_TOOLCHAIN_FILE=${NXDK_DIR}/share/toolchain-nxdk.cmake"
          cmake -B build -DCMAKE_BUILD_TYPE=Release "${CMAKE_OPTS}"
          cmake --build build -- -j
      - name: Test
        run: |
          cd nxdk_ntrc_dyndxt
          export NXDK_DIR="${GITHUB_WORKSPACE}/nxdk"
          export CMAKE_OPTS="-DBUILD_TESTING=ON"
          cmake -B build_test -DCMAKE_BUILD_TYPE=Release "${CMAKE_OPTS}"
          cmake --build build_test --target ntrc_dyndxt_tests -- -j$(sysctl -n hw.ncpu)
          ctest --test-dir build_test/ntrc_dyndxt_tests --output-on-failure
